{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4">

  <div class=" container mt-5 mb-5 w-25">
    <div class="rounded rounded-circle mx-auto"
     style="height:100px;width:100px;background-size:cover;background-position:center;
     background-image:
     {% if request.user.profile_image %}
         url('{{ request.user.profile_image.url }}')
     {% else %}
         url('{% static 'images/rentowllogo.png' %}')
     {% endif %};">
</div>
    <div>
      <h5 class="text-center">{{ request.user.username }}</h5>
    </div>
    <div class="d-flex justify-content-center ">
      <a class="btn border border-3 border-secondary rounded-3 p-0 w-50 me-3" href="{% url 'dashboard:editprofile' %}">Edit Profile</a>
      <a class="btn border border-3 border-secondary rounded-3 p-0 w-50" href="{% url 'dashboard:listedproducts' %}">My Listings </a>
    </div>
<!--    <div class="d-flex justify-content-center mt-3">-->
<!--      <a class="btn border border-3 border-secondary rounded-3 p-0 w-50" >My Listings </a>-->
<!--    </div>-->
  </div>

  <!-- ================= HEADER ================= -->
  <h3 class="mb-4 text-dark text-center">Dashboard</h3>



  <!-- ================= MY ORDERS ================= -->
  <h5 class="mb-3 text-dark">My Orders</h5>

    <!-- =================BORROWER SUMMARY CARDS ================= -->
  <div class="row mb-5 mt-5">

    <div class="col-md-4">
      <div class="card shadow-sm text-center">
        <div class="card-body">
          <h6 class="text-muted">Total Orders</h6>
          <h3 class="text-dark">{{ total_orders }}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm text-center">
        <div class="card-body">
          <h6 class="text-muted">Active Rentals</h6>
          <h3 class="text-success">{{ active_orders }}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm text-center">
        <div class="card-body">
          <h6 class="text-muted">Completed</h6>
          <h3 class="text-primary">{{ completed_orders }}</h3>
        </div>
      </div>
    </div>

  </div>

  {% if my_orders %}
  <div class="table-responsive mb-5">
    <table class="table table-bordered table-hover shadow-sm">
      <thead class="table-light">
        <tr>
          <th>Product</th>
          <th>Dates</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for order in my_orders %}
        <tr onclick="window.location='{% url 'dashboard:Orderdetail' order.id %}'" style="cursor:pointer;">
          <td>{{ order.product.title }}</td>
          <td>{{ order.start_date }} → {{ order.end_date }}</td>
          <td>
            <span class="badge
              {% if order.status == 'approved' %}bg-success
              {% elif order.status == 'rejected' %}bg-danger
              {% elif order.status == 'completed' %}bg-primary
              {% else %}bg-secondary{% endif %}">
              {{ order.status }}
            </span>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p class="text-muted mb-5 text-center">No orders placed yet</p>
  {% endif %}



  <!-- ================= RECEIVED ORDERS ================= -->
  <h5 class="mb-3 text-dark">Requests for My Products</h5>

    <!-- =============== OWNER SUMMARY CARDS ============== -->

  <div class="row mb-5 mt-5">

    <div class="col-md-4">
      <div class="card shadow-sm text-center">
        <div class="card-body">
          <h6 class="text-muted">Total Orders</h6>
          <h3 class="text-dark">{{ orders }}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm text-center">
        <div class="card-body">
          <h6 class="text-muted">Active Rentals</h6>
          <h3 class="text-success">{{ active_rentals }}</h3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm text-center">
        <div class="card-body">
          <h6 class="text-muted">Completed</h6>
          <h3 class="text-primary">{{ completed_rentals }}</h3>
        </div>
      </div>
    </div>

  </div>

  {% if received_orders %}
  <div class="table-responsive">
    <table class="table table-bordered table-hover shadow-sm">
      <thead class="table-light">
        <tr>
          <th>Product</th>
          <th>Borrower</th>
          <th>Dates</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for order in received_orders %}
        <tr>
          <td>{{ order.product.title }}</td>
          <td>{{ order.borrower.username }}</td>
          <td>{{ order.start_date }} → {{ order.end_date }}</td>
          <td>
            <span class="badge
              {% if order.status == 'approved' %}bg-success
              {% elif order.status == 'rejected' %}bg-danger
              {% elif order.status == 'completed' %}bg-primary
              {% else %}bg-secondary{% endif %}">
              {{ order.status }}
            </span>
          </td>
          <td>
            {% if order.status == "requested" %}
            <form method="post" action="{% url 'dashboard:update_order_status' order.id %}">
              {% csrf_token %}
              <button name="action" value="approve" class="btn btn-success btn-sm">
                Accept
              </button>
              <button name="action" value="reject" class="btn btn-danger btn-sm">
                Reject
              </button>
            </form>
            {% else %}
              —
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p class="text-muted text-center mb-4">No incoming requests</p>
  {% endif %}

</div>

{% endblock %}

